{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "useTabs": false,
    "endOfLine": "auto",
    "printWidth": 60
}
